:root {
	--java-orange: #ed8b00;
	--java-blue: #007396;
	--light-border: 1px solid lightgray;
	--monospace: Fira Code, monospace;
}

* {
	margin: 10px 0;
	overflow-x: auto;

	&::selection {
		background: var(--java-blue);
		color: white;
	}

	@media print {
		line-height: 1.2;
	}

	@media (min-width: 768px) {
		overflow-x: unset;
	}
}

body {
	counter-reset: notes;
	max-width: 100%;
	overflow-x: hidden;
	padding: 1.5em;

	@media print {
		padding: 1em;
	}

	@media (min-width: 768px) {
		overflow-x: unset;
		padding: 0;
		width: 80ch;
	}
}

section {
	break-inside: avoid;
	margin: 3em 0;
}

main > section {
	break-after: always;
}

pre {
	line-height: 1.5;
	tab-size: 4;
}

abbr[title] {
	color: var(--java-blue);
	counter-increment: notes;
	cursor: help;
	text-decoration: none;

	&::after {
		bottom: 10px;
		content: attr(title);
		font-size: x-small;
		position: relative;

		@media (min-width: 768px) {
			content: '💬';
		}
	}
}

a {
	color: var(--java-orange);
	text-decoration: 2px dotted underline;
	text-underline-offset: 3px;

	&[target='_blank']::after {
		content: '🛬';
	}
}

em {
	text-decoration: underline;
}

h1 {
	text-align: center;

	+ p {
		text-align: center;
	}
}

h2 {
	border-bottom: var(--light-border);

	&::before {
		color: var(--java-orange);
		content: '#';
		margin-right: 0.5ch;
	}
}

h3 {
	margin-bottom: 20px;
	text-decoration: dashed underline var(--java-blue);
	text-underline-offset: 3px;

	&.blink {
		text-decoration-style: solid;
	}
}

h2 > .anchor,
h3 > .anchor {
	background: inherit;
	cursor: pointer;
	font: inherit;
	margin: 0 10px;
	pointer-events: visible;
	text-decoration: none;

	@media (min-width: 768px) {
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	h2:hover > .anchor,
	h3:hover > .anchor {
		visibility: inherit;
	}
}

table {
	border-radius: 3px;
	box-shadow: 0 0 2px gray;
	break-inside: avoid;
	width: 100%;

	caption {
		font-family: var(--monospace);
		font-weight: bold;
	}

	td,
	th {
		margin: 0;
		padding: 3px 0.75em;

		&:not(:last-child) {
			border-right: var(--light-border);
		}
	}

	th {
		border-bottom: var(--light-border);
	}

	tfoot {
		border-top: var(--light-border);
		text-align: left;
		padding-left: 1em;
	}
}

table,
ul {
	counter-reset: notes;

	.note {
		counter-increment: notes;

		&::after {
			bottom: 7px;
			color: var(--java-orange);
			content: counter(notes);
			font-size: small;
			position: relative;
		}
	}

	ol {
		counter-reset: note-items;

		li {
			color: gray;
			counter-increment: note-items;
			font-size: small;
			list-style: none;
			margin: 0;

			&::before {
				color: var(--java-orange);
				content: counter(note-items) ' ';
			}
		}
	}
}

#notification {
	background-color: white;
	bottom: -5em;
	box-shadow: 0 3px 10px #8888;
	left: 20px;
	margin: 0;
	padding: 1em;
	position: fixed;
	right: 20px;
	transition: bottom cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.75s;
	z-index: 9000;

	&.active {
		bottom: 20px;

		+ .back-to-top {
			opacity: 0;
		}
	}

	@media print {
		display: none;
	}

	@media (min-width: 768px) {
		left: unset;
	}
}

.back-to-top {
	bottom: 20px;
	color: white;
	font-size: 40pt;
	margin: 0;
	position: fixed;
	right: 20px;
	text-decoration: none;
	transition: all ease-in-out 0.25s;
	z-index: 8000;

	@media print {
		display: none;
	}

	@media (min-width: 768px) {
		font-size: 24pt;
		opacity: 30%;

		&:hover {
			opacity: 1;
		}
	}
}

#page-index {
	border-top: var(--light-border);
	line-height: 1;
	margin: 3em 0;
	padding-top: 3em;

	li {
		list-style: none;
		overflow-y: hidden;
	}

	> li {
		font-weight: bold;
		margin-top: 0;

		&:not(:first-child) {
			margin-top: 2em;
		}

		li {
			font-weight: normal;

			&::before {
				color: var(--java-orange);
				content: '> ';
				font-family: var(--monospace);
				font-weight: bold;
			}
		}
	}

	a {
		color: initial;
		text-decoration: none;

		&:hover {
			text-decoration: solid var(--java-blue) underline;
		}
	}

	@media print {
		display: none;
	}

	@media (min-width: 768px) {
		columns: 4;
	}
}

.regex {
	color: gray;

	&::after,
	&::before {
		color: silver;
	}

	&::before {
		content: '<';
	}

	&::after {
		content: '>';
	}

	&.or {
		> *:not(:last-child)::after {
			color: silver;
			content: ' | ';
		}
	}

	&.optional {
		&::after {
			content: '>?';
		}
	}

	&.many {
		&::after {
			content: '>' attr(separator) '*';
		}
	}

	&.at-least-one {
		&::after {
			content: '>' attr(separator) '+';
		}
	}
}

.shell {
	background-image: radial-gradient(
			circle at 0.8em 0.8em,
			#ff605c 6px,
			transparent 7px
		),
		radial-gradient(circle at 2.1em 0.8em, #ffbd44 6px, transparent 7px),
		radial-gradient(circle at 3.4em 0.8em, #00ca4e 6px, transparent 7px),
		linear-gradient(whitesmoke 1.6em, #5b6370 1.6em);
	border-radius: 6px;
	box-shadow: 0 3px 10px #8888;
	color: whitesmoke;
	font-size: 14px;
	font-family: var(--monospace);
	margin: 2em;
	padding: 1.6em 1.5ch 1.5ch;

	&::before {
		color: #444;
		content: attr(directory);
		display: block;
		height: 0;
		transform: translateY(-1.6em);
		text-align: center;
	}

	::selection {
		background-color: whitesmoke;
		color: #333;
	}

	.cmd {
		color: #ffa;
	}

	.comment {
		color: #afa;
	}

	li {
		list-style: none;
		margin: 7px 0 0;

		&:first-child {
			margin-top: 1.5ch;
		}

		&::before {
			color: pink;
			content: '> ';
			font-weight: bold;
		}
	}
}
