.reserved-words {
	align-items: start;
	text-align: center;

	tbody td {
		border: none;
		padding: 2px 5px;
		width: 33%;

		&:not(:last-child) {
			border-right: none;
		}

		&.unused {
			color: gray;
		}
	}

	@media (min-width: 768px) {
		display: grid;
		gap: 0 1em;
		grid-template-columns: 1fr 1fr;
	}
}

.primitives {
	td:not(:last-child) {
		font-family: var(--monospace);
	}

	td:nth-child(2) {
		text-align: center;
	}
}

.operators td:last-child {
	font-family: var(--monospace);
}

.modifiers {
	overflow-x: auto;

	.token {
		font-family: var(--monospace);
	}

	.na {
		background: #eee3;
		color: transparent;
	}

	tbody {
		td {
			border-top: var(--light-border);
		}
	}
}

.methods {
	ul {
		list-style: none;
		margin-top: 20px;

		li::before {
			content: '👉';
			margin-right: 1ch;
		}
	}
}

.variables {
	font-variant-ligatures: none;

	ul {
		list-style: none;
	}
}

.control-flow {
	list-style: none;
}

.doc-tags {
	li {
		list-style: none;
	}

	code {
		color: var(--java-blue);
	}
}
